<div class="row general-content">

 <div class="col m2 sidebar">
   <div class="logo">
     <img src="/assets/images/logo.png" alt="">
   </div>
   <div class="menu red accent-4">
     <ul>
       <li> <a (click)="changeLint('cssLint')"> CSS Lint </a> </li>
       <li> <a (click)="changeLint('jsHint')"> JS  Hint </a> </li>
     </ul>
   </div>
 </div>

 <div class="col m10">

   <div class="content" *ngIf='selectedLint == "cssLint"'>
     <div class="header">
       <h5> CSS Lint - BuildRC</h5>
     </div>
     <form action="#">
       <p>
         <input type="checkbox" id="test5" />
         <label for="test5">Red</label>
       </p>
     </form>
   </div>

   <div class="content" *ngIf='selectedLint == "jsHint"'>
     <div class="header">
       <h5> JS Hint - BuildRC</h5>
     </div>
     <form action="#">
       <p *ngFor="let js of jslint">
         <input type="checkbox" id="test5" [checked]="js.value">
         <label for="test5">{{js.key}}</label>
       </p>
     </form>
   </div>

 </div>

</div>
