<div class="row">

 <div class="col m2 sidebar">
   <div class="logo">
     <img src="/assets/images/logo.png" alt="">
   </div>
   <div class="menu red accent-4">
     <ul>
       <li> <a> CSS Lint </a> </li>
       <li> <a> JS  Hint </a> </li>
     </ul>
   </div>
 </div>

 <div class="col m10">
   <div class="content">
     <div class="header">
       <h5> CSS Lint - BuildRC</h5>
     </div>
     <form action="#">
       <p>
         <input type="checkbox" id="test5" />
         <label for="test5">Red</label>
       </p>
       <p>
         <input type="checkbox" id="test5" />
         <label for="test5">Red</label>
       </p>
       <p>
         <input type="checkbox" id="test5" />
         <label for="test5">Red</label>
       </p>
       <p>
         <input type="checkbox" id="test5" />
         <label for="test5">Red</label>
       </p>
     </form>
   </div>
 </div>

</div>
