/* You can add global styles to this file, and also import other style files */
html, body {height: 100%;}
.general-content {
    height: 100%;
    margin-bottom: 0;
    display: table;
    width: 100%;
}

.col.sidebar {
  padding: 0;
  border-right: 1px solid #d2cfcf;
  height: 100%;
  background-color: #d50000;
}

.col .menu{
  height: calc(100% - 161px);
  text-align: center;
}

.col .menu a{
  font-family: 'Cabin Sketch', cursive;
  color: white;
  font-size: 24px;
  display: block;
  padding: 10px;
}

.col .menu a:hover{
background-color: #b90808;
}

.col .logo{
  text-align: center;
  padding: 10px;
  background-color: white;
}

.col .logo img{
  width: 80%;
}

.col .content {
  padding: 20px 10px;
}

.header {
  text-align: center;
  padding-bottom: 10px;
}

table {
  border: 1px solid #d2cfcf;
}

table td, table th{
  margin: 0;
  padding: 5px 10px;
}

table td:first-child,
table th:first-child {
  padding: 5px 15px;
}

table .checks{
  width: 40px;
}

table p{margin: 0;}

table .checks p{
  margin: 0;
  margin-left: 5px;
  margin-top: 5px;
  height: 27px;
}

table .checks label{
  margin: 0;
  padding: 0px;
}

table input[type="number"], 
table input[type=number]:not(.browser-default) {
    height: 30px;
    margin: 0; 
    text-align: center;
    width: 30px;
}

table input[type=number]::-webkit-inner-spin-button, 
table input[type=number]::-webkit-outer-spin-button,
table input[type=number]:not(.browser-default)::-webkit-inner-spin-button, 
table input[type=number]:not(.browser-default)::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}