/* You can add global styles to this file, and also import other style files */
html, body {height: 100%;}
.general-content {
    height: 100vh;
    margin-bottom: 0;
}
.col.sidebar {
  padding: 0;
  border-right: 1px solid #d2cfcf;
  height: 100%;
}

.col .menu{
  height: 100%;
  text-align: center;
}

.col .menu a{
  font-family: 'Cabin Sketch', cursive;
  color: white;
  font-size: 24px;
  display: block;
  padding: 10px;
}

.col .menu a:hover{
background-color: #b90808;
}

.col .logo{
  text-align: center;
  padding: 10px;
}

.col .logo img{
  width: 80%;
}